/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d8051ee2e9ecca611ae3.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-61d64a0d4cb691a4b805.json
/cmake-build-debug/CMakeFiles/3.29.6/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-bf8df10af792d71c5cce.json
/cmake-build-debug/CMakeFiles/primesProject.dir/CXX.dd
/cmake-build-debug/CMakeFiles/primesProject.dir/CXXDependInfo.json
/cmake-build-debug/CMakeFiles/primesProject.dir/CXXModules.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-09-24T03-51-34-0839.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.ddi
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.obj.ddi
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.obj.ddi.d
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.obj.ddi.i
/cmake-build-debug/CMakeFiles/primesProject.dir/main.cpp.obj.modmap
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/primesProject.exe
/.idea/primesProject.iml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-primesProject-Debug-0fe913c84574847996ac.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-70d7368fb6fac1fee4a4.json
primes.txt
/.idea
/.vscode
/build
/cmake-build-debug
/cmake-build-minsizerel
/cmake-build-release

